spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth
              uri: http://localhost:8081
              predicates:
                - Path= /api/auth/**
            - id: products
              uri: http://localhost:8082
              predicates:
                - Path=/api/products/**
                - Path=/api/categories/**
                - Path=/api/subcategories/**
                - Path=/api/specifications/**
            - id: customers
              uri: http://localhost:8083
              predicates:
                - Path=/api/users/**
                - Path=/api/vendors/**
            - id: carts
              uri: http://localhost:8084
              predicates:
                - Path= /api/carts/**
            - id: orders
              uri: http://localhost:8085
              predicates:
                - Path= /api/orders/**